body {
    margin: 2em;
}

.cave {
    text-align: center;
}

/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.values {
  background-image: url('../images/values-bg.jpg');
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
}
.value-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7;
}
.value-heading {
  margin-bottom: .3rem;
}
.value-description {
  opacity: .8;
  font-weight: 300;
}

/* Help
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.get-help {
  border-bottom: 1px solid #ddd;
}

/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.categories {
  background-image: url('../images/values-bg.jpg');
  background-size: cover;
  color: #fff;
}
.categories .section-description {
  margin-bottom: 4rem;
}

.qr {
        text-align: center;
}

.cover-image {
    height: 10em;
    background-repeat: no-repeat;
    background-size: cover;
}

.panel {
    text-align: center;
    text-decoration: none;
}

.donate {
    background-image: url('../images/donate.jpg');
}

.press {
    background-image: url('../images/press.png');
}

.external {
    background-image: url('../images/hangfast.jpg');
}


.logo {
        max-width: 100%;
        max-height: 15em;
}

.panel img {
        width: 100%;
}

.panels {
        display: flex;
        align-items: center;
}

#funds-raised {
  -webkit-appearance: none;
   appearance: none;

  width: 100%;
  height: 20px;
}

a {
    text-align: center;
}

button {
    white-space: normal;
    padding: 0 0 0 0;
    height: auto;
    width: 100%;
}

.cave-images img, .news img {
        max-width: 100%;
}

.links {
    margin: 1rem;
    padding: 1rem;
    font-size: larger;
    border-top: thin dotted #333;
    border-bottom: thin dotted #333;
}

.links a {
    text-decoration: none;
}

.current {
    font-weight: bolder;
}
